body {
    font-family: 'Blinker', sans-serif !important;
}

.gradiend-overplay {
    position: relative;
    min-height: 100vh !important;
    height: 100%;
    background-image: url("https://p4.wallpaperbetter.com/wallpaper/784/171/578/pattern-abstract-blue-green-wallpaper-bbb61cdd03b13fd975340bc90d1cecb0.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

.workset-filters {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    flex-direction: row;
    padding: 40px 60px;
}

.workset-container {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    background-color: #ffffff;
}

.worksets-total-info {
    height: 60px !important;
    display: flex;
    align-items: center !important;
    justify-content: space-between !important;
}

.worksets-total-info .workset-count {
    font-size: 20px;
}

.worksets-total-info .btn-danger {
    color: white !important;
}

.dark-shadow-overplay {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    transition: all .5s linear;
    z-index: 99;
}

.dark-shadow-overplay.clickable {
    z-index: 99;
}

.dark-shadow-overplay.not-clickable {
    z-index: -1;
}