.wall-image {
    position: relative;
    height: 100vh;
    min-height: 100vh;
    width: 100vw;
    background-image: url("../../assets/images/wall.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.wall-image .form-container {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 40%;
    background-color: white;
    padding: 30px 30px;
    border-radius: 5px;
    width: 330px;
}

.create-new-account {
    position: absolute;
    right: 30px;
    top: 20px;
}

.auth-header {
    margin-bottom: 20px;
}

.auth-header .auth-header__info {
    font-size: 1.6rem;
}

.auth-header .card-img {
    display: block;
    width: 100px !important;
    object-fit: contain;
}

.auth-label {
    margin-bottom: 0.2rem;
    margin-left: 0.2rem
}

.authentification-from .btn {
    margin-top: 1.5rem;
}

.error-label {
    margin-left: 0.2rem
}