.input-form {
    margin: 40px auto 0 auto;
    width: 60%;
    background: #ffffff;
    min-height: 200px !important;
    padding: 30px 30px 40px 30px;
    border-radius: 10px;
}

.input-form .setup-form-info {
    margin: 0 auto;
    text-align: center;
}

.input-form .setup-form-info .step-helper {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 35px;
}

.input-section {
    margin-top: 100px;
}

.input-section .card {
    padding: 20px;
}

.input-section .card:first-child {
    border-top: 1px solid rgba(0, 0, 0, 0.125) !important;
}