.input-form {
    margin: 40px auto 0 auto;
    width: 60%;
    background: #ffffff;
    min-height: 200px !important;
    padding: 30px 30px 40px 30px;
    border-radius: 10px;
}

.input-form .setup-form-info {
    margin: 0 auto;
    text-align: center;
}

.input-form .setup-form-info .step-helper {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 35px;
}

.input-section {
    margin-top: 10px;
}

.input-section .card {
    padding: 20px;
    border: none !important;
}

.input-form .setup-form-info .step-helper {
    font-size: 35px;
    margin-top: 10px;
    margin-bottom: 35px;
}

.input-form .setup-form-info .step-description {
    font-size: 35px;
    margin-bottom: 40px;
}

.card-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

.card-wrapper .techno-name {
    margin-top: 10px;
}

.techno-input-wrapper .form-group input{
    margin-top: 1.6rem;
}

.browser-input {
    margin-bottom: 0 !important;
}