.workspace-form-container {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -12% 0 0 -12.5%;
    width: 25%;
    height: 50%;
    background: white;
    padding: 50px;
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.35);
    border-radius: 8px;
    z-index: 100;
}

.workspace-form-container.display-block {
    z-index: 999
}

.workspace-form-container.display-none {
   z-index: -1;
}